body{
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
section{
    background-color: whitesmoke;
    color: gray;
    border-radius: 50%;
    height: 470px;
    width: 470px;
    margin: auto;
    font-family: cursive;
}
#txt1{
    margin-top: 120px;
}

